@import url("./utils.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--spacing-base) var(--spacing-xlarge);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}

nav h1 {
  font-family: var(--tertiary-font);
  font-size: var(--text-3xl);
  color: var(--gray-100);
}

nav > a {
  text-decoration: none;
  font-size: var(--text-base);
  font-weight: 500;
  font-family: var(--secondary-font);
  color: var(--gray-100);
}
