@import url("../../style.css");

body {
  width: 100%;
  height: 100vh;
  background: linear-gradient(to bottom, #5e166187, #862f848b),
    url("../../assets/img/addis-ababa-3.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.feedback_modal {
  height: 100vh;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  display: grid;
  place-items: center;
}

.feedback_modal > h1 {
  color: var(--gray-100);
  font-size: var(--text-base);
  text-align: left;
}
.feedback_modal_form {
  width: 500px;
}

.feedback_modal_form_container {
  /* background-color: ; */
  display: flex;
  gap: var(--spacing-medium);
  justify-content: space-between;
}

.form-left-wrapper {
  max-width: 400px;
}

.form-left-wrapper > h2,
.form-left-wrapper > p {
  font-family: var(--primary-font);
}

.form-left-wrapper > h2 {
  font-size: var(--text-regular);
  color: var(--gray-200);
}

.form-left-wrapper > p {
  color: var(--gray-300);
  margin-top: var(--spacing-small);
  line-height: 1.5;
}

.feedback_modal_file_upload_container {
  width: 100%;
  height: 300px;
  margin: 0 auto;
  margin-top: var(--spacing-base);
  border-radius: 2px;

  background-color: var(--gray-100);
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.form-left-wrapper input[type="file"] {
  position: absolute;
  inset: 0;
  opacity: 0;
}

.file-add-success {
  display: none;
  color: var(--gray-700);
}

.file-add-success svg {
  width: 32px;
  fill: lime;
  margin-bottom: var(--spacing-base);
}

.file-add-success h3 {
  font-size: var(--text-3xl);
  font-family: var(--primary-font);
}

.feedback_modal_file_upload_container.file-added .file-add-success {
  display: block;
}

.feedback_modal_file_upload_container.file-added .no-value {
  display: none;
}

/* input[type="file"]::file-selector-button {
  border: 2px solid #6c5ce7;
  padding: 0.2em 0.4em;
  border-radius: 0.2em;
  color: white;
  background-color: #a29bfe;
  transition: 1s;
}

input[type="file"]::before {
  color: white;
} */

.feedback_form_input_container {
  margin-bottom: var(--spacing-base);
  display: flex;
  flex-direction: column;
}

.feedback_form_label {
  font-size: 15px;
  font-family: var(--secondary-font);
  margin-bottom: 5px;
  color: var(--gray-50);
}

.feedback_form_input_container {
  position: relative;
}

.feedback_form_input_container > span {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;

  padding-right: var(--spacing-2xsmall);
  text-align: right;
  font-size: var(--text-sm);
  color: ef4444;
  background: white;
}

input[type="text"],
select {
  outline: none;
  padding: var(--spacing-xsmall) var(--spacing-small);
  border-radius: 2px;
  border: none;

  width: 100%;
}

textarea {
  width: 100%;
  outline: none;
  padding: var(--spacing-xsmall) var(--spacing-small);
  border: 1px solid white;
  border-radius: 2px;
  resize: none;
}

.feedback_submit_button_container {
  margin-top: 28px;
  display: flex;
  justify-content: flex-end;
  align-items: stretch;
}

.feedback_submit_button_container > a {
  color: var(--gray-200);
  cursor: pointer;
  text-decoration: none;
  padding: 0 var(--spacing-medium);
  display: flex;
  align-items: center;
}

.feedback_submit_button_container > a:hover {
  background: rgb(0, 0, 0, 0.2);
}

.feedback_modal_form input[type="submit"] {
  width: 150px;
  padding: var(--spacing-small) 0;
  border: none;
  background: #ffff00;
  cursor: pointer;
  color: var(--gray-700);
  font-family: var(--primary-font);
  font-size: var(--text-base);
  letter-spacing: 0.15px;
  font-weight: 500;
  border-radius: 2px;
}

.feedback_modal_form input[type="submit"]:hover {
  font-weight: bold;
}

.file-download-button {
  text-decoration: none;
  background-color: rgba(255, 255, 0, 0.65);
  margin-left: auto;
  margin-right: auto;
  width: 130px;
  margin-top: 40px;
  display: grid;
  place-items: center;
  padding: 5px 18px;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  color: black;
}
